.progressbar {
    -GtkProgressBar-min-horizontal-bar-height: 10px;
    min-height: 10px;
    background-size: 30px 30px;
    background-color: rgba(113, 5, 8, 255);
    color: blue; 
}

progressbar progress {
	background-color: rgba(123, 130, 148, 255);
	min-height: 10px;

}

progressbar text {
	/*background-color: rgba(183, 0, 8, 255);*/
	min-height: 10px;
	color: rgba(5, 95, 105, 255);
	font-weight: normal;
	font-stretch: ultra-condensed;
}

progressbar {
	background-color: rgba(221, 225, 238, 255);
	-GtkProgressBar-yspacing: 0;
	min-height: 20px;
	-GtkProgressBar-text-handle-height: 30;
	font: 12px Sans;
	margin-bottom: 3;
	border-top-left-radius: 10;
	border-top-right-radius: 10;
}

box{
	background-color: rgba(231, 240, 228, 255);
}

.styledLabel {
	color: red;
	font-weight: bold;
}

.SliderBackground {
	background-color: rgba(201, 225, 228, 255);
	font-weight: bold;
	min-width: 10px;
	margin-top: 5;
	margin-bottom: 5;
}

.SliderLabel{
	margin-top: 5;
	margin-bottom: 5;
	margin-left: 2;
	color: rgba(5, 95, 105, 255);
	font-weight: normal;
	font-stretch: ultra-condensed;
}

