.DisplayBoxes{
	background-color: rgba(231, 240, 228, 255);
	border-width: 2px;
	border-color: rgba(191, 200, 188, 55);
	border-radius: 10px;
	border-style: dotted;
}

.styledLabel {
	color: red;
	font-weight: bold;
}

.SliderBackground {
	background-color: rgba(201, 225, 228, 255);
	font-weight: bold;
	min-width: 10px;
	min-height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	border-radius: 5px;
}

.SliderMainLabel{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	color: rgba(5, 95, 105, 255);
	font-weight: normal;
	font-stretch: ultra-condensed;
	min-width: 10px;
}

.SliderLabelLine2{
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 2px;
	color: rgba(35, 125, 135, 255);
	font-weight: normal;
	font-stretch: ultra-condensed;
	min-width: 10px;
	font-size: 13px;
}

/* Parse and inject style into <span> tag in a program:
let properties = {
        'face': font.get_family(),
        'style': _PANGO_STYLES[font.get_style()],
        'weight': font.get_weight(),
        'color': _rgba_to_markup_color(foreground),
    };
    let properties_string = Object.keys(properties).map((key) =>
        key + '="' + properties[key] + '"').join(' ');
    return '<span ' + properties_string + '>';
}*/
.SliderLabelLine2_for_Text{
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 2px;
	color: #7bacb2;
	font-weight: normal;
	font-stretch: ultra-condensed;
	min-width: 10px;
	font-size: 12px;
}


.SliderLabelLine3{
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 2px;
	color: rgba(5, 95, 105, 200);
	font-weight: normal;
	font-stretch: ultra-condensed;
	min-width: 10px;
	font-size: 11px;
}

.SliderCount{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	color: rgba(5, 95, 105, 255);
	font-weight: bold;
	font-stretch: ultra-condensed;
	min-width: 10px;
	font-size: 11px;
}
